<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 필요에 의해 사용 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Needed only if your app looks for Bluetooth devices.
         If your app doesn't use Bluetooth scan results to derive physical
         location information, you can
         <a href="#assert-never-for-location">strongly assert that your app
         doesn't derive physical location</a>. -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"/>

    <!-- Needed only if your app makes the device discoverable to Bluetooth
         devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- Needed only if your app communicates with already-paired Bluetooth
         devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Needed only if your app uses Bluetooth scan results to derive physical location. -->
    <!--    <strike><uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /></strike>-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PieceofDayFront"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".writeNew.MainDiaryWritepageMBTI"
            android:exported="false" />
        <activity
            android:name=".writeNew.MainDiaryWritepageGetImage"
            android:exported="false" />
        <activity
            android:name=".writeNew.MainDiaryWritepageContent"
            android:exported="false" />
        <activity
            android:name=".myPage.MainMypageMBTI"
            android:exported="false" />
        <activity
            android:name=".myPage.MainMypageSharelist"
            android:exported="false" />
        <activity
            android:name=".login.LoginSignInProfilePicture"
            android:exported="false" />
        <activity
            android:name=".myPage.MainMypage"
            android:exported="false" />
        <activity
            android:name=".MainDiarySharepage"
            android:exported="false" />
        <activity
            android:name=".MainDiaryWritepage"
            android:exported="false" />
        <activity
            android:name=".login.LoginSigninpagePopup"
            android:exported="false" />
        <activity
            android:name=".login.LoginSigninpage"
            android:exported="false" />
        <activity
            android:name=".login.LoginMainpage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMainpage"
            android:exported="false" />
        <activity
            android:name=".Bluetooth.BluetoothMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".Bluetooth.activity.ScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>